/* google font imports */
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700);

body {
    background: #FFF;
    color: #333740;
}
.info {
    display: none;
}

#api_selector {
    display: block;
    clear: none;
    float: right;
    padding: 3px 20px 0 0;
}

.swagger-ui-wrap .model-signature pre,
select,
textarea,
input {
    border-radius: 4px;
    border: 1px solid #AAA;
    padding: 6px 8px;
}

.footer {
    margin-bottom: 50px;
}

.swagger-ui-wrap li.resource {
    margin-bottom: 40px;
}

.swagger-section .swagger-ui-wrap p {
    padding: 0;
}

.swagger-section .swagger-ui-wrap table tbody tr td {
    vertical-align: middle;
}

.swagger-section #header {
    height: 120px;
    padding: 0 10px;
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0,0,0,.1);
    width: 100%;
    position: fixed;
    text-align: center;
}

.swagger-section #header a#logo {
    background: none;
    position: relative;
    float: left;
    padding: 15px 8px;
}

.swagger-section #header-logo {
    height: 120px;
    float: left;
}

.swagger-section #header-buttons {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.swagger-section #header-form {
    float: right;
}

.swagger-section #content {
    padding: 120px 20px 20px 20px;

}

.swagger-section .mos-connect-info {
    max-width: 960px;
    margin: 0 auto 32px;
    font-family: "Source Sans", sans-serif;
    font-size: 0.9em;
    line-height: 1.4em;
}

.swagger-section .mos-connect-info p {
    margin-bottom: 16px;
}

.swagger-section .mos-connect-info a {
    color: #333740;
}

.swagger-section .mos-connect-info a:hover {
    color: #000;
}

.swagger-section #header-buttons > a.button {
    transition: 300ms all;
    border: solid 1px #333740;
    border-radius: 50px;
    color: #333740;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Arial',sans-serif;
    text-transform: lowercase;
}

.swagger-section #header-buttons > a.button:hover {
    color: #fff;
    border-color: #333740;
    background: #333740;
}

.form-row {
    max-width: 400px;
    font-family: "Source Sans", sans-serif;
}

.form-row:before, .form-row:after {
    content: "";
    display: table;
    border-collapse: collapse;
}

.form-row > label {
    display: block;
    text-align: left;
    position: relative;
    padding: 12px 8px 10px 0;
    float: left;
    font-size: 0.9em;
}

.form-row .control-group {
    position: relative;
    box-sizing: border-box;
    padding: 6px;
    float: right;
    width: 200px;
    text-align: right;
}

.form-row .control-container {
    position: relative;
}

.form-row .control-container > input {
    width: 180px;
    font-size: 0.9em;
}

.form-row .control-container > input:focus {
    outline: none;
    border-color: #28b83c;
    box-shadow: 0 0 0 4px rgba(104, 222, 120, 0.2);
}


@media screen and (max-width: 900px) {
    .swagger-section #header a#logo {
        width: 44px;
        overflow: hidden;
    }

    .swagger-section #header-buttons {
        margin-top:22px;
        margin-left: 20px;
        position: relative;
        float: left;
        transform: translate(0,0);
        top: auto;
        left: auto;
    }
}

@media screen and (max-width: 600px) {
    .swagger-section #header-form {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background: #fff;
        box-shadow: 0 -3px 6px rgba(0,0,0,.1);
    }

    .swagger-section #content {
        padding-bottom: 90px;
    }
}
