{
    "swagger": "2.0",
    "info": {
        "title": "MyOnlineStore Connect | API",
        "contact": {
            "name": "MyOnlineStore",
            "url": "http://www.mijnwebwinkel.nl/contact"
        },
        "version": "1",
        description: "
            An online store should be within everyone’s reach. That’s why creating the best online platform is our
            mission. And we don’t do that just by ourselves. Let's join forces and offer our 39.000+ customers the
            opportunity to follow their dream. Today is the day!

            Curious about a collaboration with us? Check our [partner page](https://www.mijnwebwinkel.nl/partners) or [contact us](https://www.mijnwebwinkel.nl/contact)
        "
    },
    "host": "api.myonlinestore.com",
    "basePath": "/",
    "schemes": [
        "https"
    ],
    "produces": [
        "application/json",
        "text/xml"
    ],
    "paths": {
        "/v{version}/articles": {
            "get": {
                "tags": [
                    "Articles"
                ],
                "summary": "Return a collection of articles",
                "description": "Returns a listing of articles for the store",
                "operationId": "getArticles",
                "parameters": [
                    {
                        "$ref": "#/parameters/version"
                    },
                    {
                        "$ref": "#/parameters/language"
                    },
                    {
                        "$ref": "#/parameters/format"
                    },
                    {
                        "$ref": "#/parameters/limit"
                    },
                    {
                        "$ref": "#/parameters/offset"
                    },
                    {
                        "$ref": "#/parameters/created_start_date"
                    },
                    {
                        "$ref": "#/parameters/created_end_date"
                    },
                    {
                        "$ref": "#/parameters/changed_start_date"
                    },
                    {
                        "$ref": "#/parameters/changed_end_date"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Article list",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Article"
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Articles"
                ],
                "summary": "Create a new article",
                "description": "Create a new article",
                "operationId": "postArticle",
                "parameters": [
                    {
                        "$ref": "#/parameters/version"
                    },
                    {
                        "$ref": "#/parameters/language"
                    },
                    {
                        "$ref": "#/parameters/format"
                    },
                    {
                        "name": "article",
                        "in": "body",
                        "description": "Article data",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ArticlePostable"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Article details",
                        "schema": {
                            "$ref": "#/definitions/Article"
                        }
                    }
                }
            }
        },
        "/v{version}/articles/{article_id}": {
            "get": {
                "tags": [
                    "Articles"
                ],
                "summary": "Return a single article",
                "description": "Returns a specific article",
                "operationId": "getArticle",
                "parameters": [
                    {
                        "$ref": "#/parameters/version"
                    },
                    {
                        "$ref": "#/parameters/language"
                    },
                    {
                        "$ref": "#/parameters/format"
                    },
                    {
                        "$ref": "#/parameters/use_url_id"
                    },
                    {
                        "name": "article_id",
                        "in": "path",
                        "description": "Article id",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Article details",
                        "schema": {
                            "$ref": "#/definitions/Article"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Articles"
                ],
                "summary": "Remove Article",
                "description": "Remove article",
                "operationId": "deleteArticle",
                "parameters": [
                    {
                        "$ref": "#/parameters/version"
                    },
                    {
                        "$ref": "#/parameters/language"
                    },
                    {
                        "$ref": "#/parameters/use_url_id"
                    },
                    {
                        "name": "article_id",
                        "in": "path",
                        "description": "Article id",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Article successfully deleted",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "Articles"
                ],
                "summary": "Change a single article",
                "description": "Change a specific article",
                "operationId": "patchArticle",
                "parameters": [
                    {
                        "$ref": "#/parameters/version"
                    },
                    {
                        "$ref": "#/parameters/language"
                    },
                    {
                        "$ref": "#/parameters/format"
                    },
                    {
                        "$ref": "#/parameters/use_url_id"
                    },
                    {
                        "name": "article_id",
                        "in": "path",
                        "description": "Article id",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "article",
                        "in": "body",
                        "description": "Article with attributes to change",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ArticleChangeable"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Article details",
                        "schema": {
                            "$ref": "#/definitions/Article"
                        }
                    }
                }
            }
        },
        "/v{version}/articles/count": {
            "get": {
                "tags": [
                    "Articles"
                ],
                "summary": "Return the number of available articles",
                "description": "Returns the number of available articles",
                "operationId": "getArticleCount",
                "parameters": [
                    {
                        "$ref": "#/parameters/version"
                    },
                    {
                        "$ref": "#/parameters/language"
                    },
                    {
                        "$ref": "#/parameters/format"
                    },
                    {
                        "$ref": "#/parameters/created_start_date"
                    },
                    {
                        "$ref": "#/parameters/created_end_date"
                    },
                    {
                        "$ref": "#/parameters/changed_start_date"
                    },
                    {
                        "$ref": "#/parameters/changed_end_date"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Number of available articles",
                        "schema": {
                            "$ref": "#/definitions/CountResponse"
                        }
                    }
                }
            }
        },
        "/v{version}/articlefields/{article_id}": {
            "post": {
                "tags": [
                    "ArticleFields"
                ],
                "summary": "Create new StoreArticleFields",
                "description": "Add new custom article field(s)",
                "operationId": "postArticleFields",
                "parameters": [
                    {
                        "$ref": "#/parameters/version"
                    },
                    {
                        "$ref": "#/parameters/language"
                    },
                    {
                        "$ref": "#/parameters/format"
                    },
                    {
                        "$ref": "#/parameters/use_url_id"
                    },
                    {
                        "name": "article_id",
                        "in": "path",
                        "description": "Article id",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "visible",
                        "in": "query",
                        "description": "Fields visible",
                        "required": true,
                        "type": "boolean",
                        "default": true
                    },
                    {
                        "name": "fields",
                        "in": "body",
                        "description": "Name => value pairs",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "example": {
                                "fieldname": "value"
                            },
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Article details",
                        "schema": {
                            "$ref": "#/definitions/Article"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "ArticleFields"
                ],
                "summary": "Remove custom StoreArticleFields",
                "description": "Remove custom article field(s)",
                "operationId": "deleteArticleFields",
                "parameters": [
                    {
                        "$ref": "#/parameters/version"
                    },
                    {
                        "$ref": "#/parameters/language"
                    },
                    {
                        "$ref": "#/parameters/format"
                    },
                    {
                        "$ref": "#/parameters/use_url_id"
                    },
                    {
                        "name": "article_id",
                        "in": "path",
                        "description": "Article id",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "visible",
                        "in": "query",
                        "description": "Fields (in)visible",
                        "required": true,
                        "type": "boolean",
                        "default": true
                    },
                    {
                        "name": "fields",
                        "in": "body",
                        "description": "Fieldnames",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Article details",
                        "schema": {
                            "$ref": "#/definitions/Article"
                        }
                    }
                }
            }
        },
        "/v{version}/articlelistoptions/{articlelist_id}": {
            "post": {
                "tags": [
                    "ArticleListOptions"
                ],
                "summary": "Create new ArticleListOptions",
                "description": "Add new options to an articlelist",
                "operationId": "postArticleListOptions",
                "parameters": [
                    {
                        "$ref": "#/parameters/version"
                    },
                    {
                        "$ref": "#/parameters/language"
                    },
                    {
                        "$ref": "#/parameters/format"
                    },
                    {
                        "name": "articlelist_id",
                        "in": "path",
                        "description": "Articlelist id",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "options",
                        "in": "body",
                        "description": "Set of list options",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/ArticleListOption"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Articlelist details",
                        "schema": {
                            "$ref": "#/definitions/ArticleList"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "ArticleListOptions"
                ],
                "summary": "Remove options from an ArticleList",
                "description": "Remove options from an articlelist",
                "operationId": "deleteArticleListOptions",
                "parameters": [
                    {
                        "$ref": "#/parameters/version"
                    },
                    {
                        "$ref": "#/parameters/language"
                    },
                    {
                        "$ref": "#/parameters/format"
                    },
                    {
                        "name": "articlelist_id",
                        "in": "path",
                        "description": "Articlelist id",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "options",
                        "in": "body",
                        "description": "Option names",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Articlelist details",
                        "schema": {
                            "$ref": "#/definitions/ArticleList"
                        }
                    }
                }
            }
        },
        "/v{version}/articlelists/{id}": {
            "get": {
                "tags": [
                    "ArticleLists"
                ],
                "summary": "Get a specific article list",
                "description": "Get a specific article list",
                "operationId": "getArticleList",
                "parameters": [
                    {
                        "$ref": "#/parameters/version"
                    },
                    {
                        "$ref": "#/parameters/language"
                    },
                    {
                        "$ref": "#/parameters/format"
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Articlelist id",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Articlelist details",
                        "schema": {
                            "$ref": "#/definitions/ArticleList"
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "ArticleLists"
                ],
                "summary": "Add articleLists to an Article",
                "description": "Add lists to an Article",
                "operationId": "postArticleLists",
                "parameters": [
                    {
                        "$ref": "#/parameters/version"
                    },
                    {
                        "$ref": "#/parameters/language"
                    },
                    {
                        "$ref": "#/parameters/format"
                    },
                    {
                        "$ref": "#/parameters/use_url_id"
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Article id",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "lists",
                        "in": "body",
                        "description": "List Ids",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "integer"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Article details",
                        "schema": {
                            "$ref": "#/definitions/Article"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "ArticleLists"
                ],
                "summary": "Remove articleLists from an Article",
                "description": "Remove lists from an Article",
                "operationId": "deleteArticleLists",
                "parameters": [
                    {
                        "$ref": "#/parameters/version"
                    },
                    {
                        "$ref": "#/parameters/language"
                    },
                    {
                        "$ref": "#/parameters/format"
                    },
                    {
                        "$ref": "#/parameters/use_url_id"
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Article id",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "lists",
                        "in": "body",
                        "description": "List Ids",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "integer"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Article details",
                        "schema": {
                            "$ref": "#/definitions/Article"
                        }
                    }
                }
            }
        },
        "/v{version}/orders": {
            "get": {
                "tags": [
                    "Orders"
                ],
                "summary": "Return a collection of orders",
                "description": "Returns a listing of orders for the store",
                "operationId": "getOrders",
                "parameters": [
                    {
                        "$ref": "#/parameters/version"
                    },
                    {
                        "$ref": "#/parameters/language"
                    },
                    {
                        "$ref": "#/parameters/limit"
                    },
                    {
                        "$ref": "#/parameters/offset"
                    },
                    {
                        "$ref": "#/parameters/start_date"
                    },
                    {
                        "$ref": "#/parameters/end_date"
                    },
                    {
                        "$ref": "#/parameters/format"
                    },
                    {
                        "$ref": "#/parameters/archived"
                    },
                    {
                        "$ref": "#/parameters/status_id"
                    },
                    {
                        "$ref": "#/parameters/status_changed_start_date"
                    },
                    {
                        "$ref": "#/parameters/status_changed_end_date"
                    },
                    {
                        "name": "ordering",
                        "in": "query",
                        "description": "Ordering (by ordernumber)",
                        "required": false,
                        "type": "string",
                        "default": "asc",
                        "enum": [
                            "asc",
                            "desc"
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Order list",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Order"
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Orders"
                ],
                "summary": "Create a new order",
                "description": "Create a new order",
                "operationId": "postOrder",
                "parameters": [
                    {
                        "$ref": "#/parameters/version"
                    },
                    {
                        "$ref": "#/parameters/format"
                    },
                    {
                        "$ref": "#/parameters/language"
                    },
                    {
                        "name": "send_customer_notification",
                        "in": "query",
                        "description": "Send an order confirmation to the customer",
                        "required": false,
                        "type": "boolean",
                        "default": false
                    },
                    {
                        "name": "send_merchant_notification",
                        "in": "query",
                        "description": "Send a new order notification to the merchant (if enabled in notification settings)",
                        "required": false,
                        "type": "boolean",
                        "default": false
                    },
                    {
                        "name": "override_stock",
                        "in": "query",
                        "description": "Ignore stock limitations on articles, mutations are still applied. (special access required)",
                        "required": false,
                        "type": "boolean",
                        "default": false
                    },
                    {
                        "name": "order",
                        "in": "body",
                        "description": "Order details",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/OrderPostable"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Order details",
                        "schema": {
                            "$ref": "#/definitions/Order"
                        }
                    }
                }
            }
        },
        "/v{version}/orders/count": {
            "get": {
                "tags": [
                    "Orders"
                ],
                "summary": "Return the number of available orders",
                "description": "Returns the number of available orders",
                "operationId": "getOrderCount",
                "parameters": [
                    {
                        "$ref": "#/parameters/version"
                    },
                    {
                        "$ref": "#/parameters/language"
                    },
                    {
                        "$ref": "#/parameters/start_date"
                    },
                    {
                        "$ref": "#/parameters/end_date"
                    },
                    {
                        "$ref": "#/parameters/format"
                    },
                    {
                        "$ref": "#/parameters/archived"
                    },
                    {
                        "$ref": "#/parameters/status_id"
                    },
                    {
                        "$ref": "#/parameters/status_changed_start_date"
                    },
                    {
                        "$ref": "#/parameters/status_changed_end_date"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "number of available orders",
                        "schema": {
                            "$ref": "#/definitions/CountResponse"
                        }
                    }
                }
            }
        },
        "/v{version}/orders/{order_number}": {
            "get": {
                "tags": [
                    "Orders"
                ],
                "summary": "Return a single order",
                "description": "Returns a specific order",
                "operationId": "getOrder",
                "parameters": [
                    {
                        "$ref": "#/parameters/version"
                    },
                    {
                        "$ref": "#/parameters/language"
                    },
                    {
                        "$ref": "#/parameters/format"
                    },
                    {
                        "name": "order_number",
                        "in": "path",
                        "description": "Order number",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Order details",
                        "schema": {
                            "$ref": "#/definitions/Order"
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "Orders"
                ],
                "summary": "Change a single order",
                "description": "Change a specific order",
                "operationId": "patchOrder",
                "parameters": [
                    {
                        "$ref": "#/parameters/version"
                    },
                    {
                        "$ref": "#/parameters/language"
                    },
                    {
                        "$ref": "#/parameters/format"
                    },
                    {
                        "name": "order_number",
                        "in": "path",
                        "description": "Order number",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "order",
                        "in": "body",
                        "description": "Order attributes to change",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/OrderPatchable"
                        }
                    },
                    {
                        "name": "override_minimum",
                        "in": "query",
                        "description": "Ignore minimum order total limitations (special access required)",
                        "required": false,
                        "type": "boolean",
                        "default": false
                    },
                    {
                        "name": "override_stock",
                        "in": "query",
                        "description": "Ignore stock limitations on articles, mutations are still applied. (special access required)",
                        "required": false,
                        "type": "boolean",
                        "default": false
                    },
                    {
                        "name": "mutate_stock",
                        "in": "query",
                        "description": "Perform stock mutations (applies to credit orders only!)",
                        "required": false,
                        "type": "boolean",
                        "default": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Order details",
                        "schema": {
                            "$ref": "#/definitions/Order"
                        }
                    }
                }
            }
        },
        "/v{version}/categories/{category_id}": {
            "get": {
                "tags": [
                    "Categories"
                ],
                "description": "Returns a specific category",
                "operationId": "getCategory",
                "parameters": [
                    {
                        "$ref": "#/parameters/version"
                    },
                    {
                        "$ref": "#/parameters/language"
                    },
                    {
                        "$ref": "#/parameters/format"
                    },
                    {
                        "name": "category_id",
                        "in": "path",
                        "description": "Category id",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Category details",
                        "schema": {
                            "$ref": "#/definitions/Category"
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "Categories"
                ],
                "description": "Update category page",
                "operationId": "patchCategory",
                "parameters": [
                    {
                        "$ref": "#/parameters/version"
                    },
                    {
                        "$ref": "#/parameters/language"
                    },
                    {
                        "$ref": "#/parameters/format"
                    },
                    {
                        "name": "category_id",
                        "in": "path",
                        "description": "Category id",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "category",
                        "in": "body",
                        "description": "Category",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CategoryPatchable"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Category details",
                        "schema": {
                            "$ref": "#/definitions/Category"
                        }
                    }
                }
            }
        },
        "/v{version}/categories": {
            "get": {
                "tags": [
                    "Categories"
                ],
                "description": "Returns a listing of pages for the store",
                "operationId": "getCategories",
                "parameters": [
                    {
                        "$ref": "#/parameters/version"
                    },
                    {
                        "$ref": "#/parameters/language"
                    },
                    {
                        "$ref": "#/parameters/limit"
                    },
                    {
                        "$ref": "#/parameters/offset"
                    },
                    {
                        "$ref": "#/parameters/format"
                    },
                    {
                        "$ref": "#/parameters/created_start_date"
                    },
                    {
                        "$ref": "#/parameters/created_end_date"
                    },
                    {
                        "$ref": "#/parameters/changed_start_date"
                    },
                    {
                        "$ref": "#/parameters/changed_end_date"
                    },
                    {
                        "name": "as_tree",
                        "in": "query",
                        "description": "Display as an ordered tree structure, as used in the store.\n(note: limit & offset have no effect in this mode)",
                        "required": true,
                        "type": "boolean",
                        "default": false
                    },
                    {
                        "name": "max_depth",
                        "in": "query",
                        "description": "Maximum depth for tree structure",
                        "required": false,
                        "type": "integer",
                        "default": 5
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Category list",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Category"
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Categories"
                ],
                "description": "Create a new category page",
                "operationId": "postCategory",
                "parameters": [
                    {
                        "$ref": "#/parameters/version"
                    },
                    {
                        "$ref": "#/parameters/language"
                    },
                    {
                        "$ref": "#/parameters/format"
                    },
                    {
                        "name": "category",
                        "in": "body",
                        "description": "Category",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CategoryPostable"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Category details",
                        "schema": {
                            "$ref": "#/definitions/Category"
                        }
                    }
                }
            }
        },
        "/v{version}/categories/count": {
            "get": {
                "tags": [
                    "Categories"
                ],
                "description": "Returns the number of available categories",
                "operationId": "getCategoryCount",
                "parameters": [
                    {
                        "$ref": "#/parameters/version"
                    },
                    {
                        "$ref": "#/parameters/language"
                    },
                    {
                        "$ref": "#/parameters/format"
                    },
                    {
                        "$ref": "#/parameters/created_start_date"
                    },
                    {
                        "$ref": "#/parameters/created_end_date"
                    },
                    {
                        "$ref": "#/parameters/changed_start_date"
                    },
                    {
                        "$ref": "#/parameters/changed_end_date"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Number of available categories",
                        "schema": {
                            "$ref": "#/definitions/CountResponse"
                        }
                    }
                }
            }
        },
        "/v{version}/discountcodes": {
            "get": {
                "tags": [
                    "Discountcodes"
                ],
                "description": "Returns a listing of discountcodes for the store",
                "operationId": "getDiscountcodes",
                "parameters": [
                    {
                        "$ref": "#/parameters/version"
                    },
                    {
                        "$ref": "#/parameters/format"
                    },
                    {
                        "name": "active",
                        "in": "query",
                        "description": "Only (in)active discountcodes",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "valid_start_date",
                        "in": "query",
                        "description": "Filter on discountcodes which are valid from the specified date(format: yyyy-mm-dd). May also return discountcodes without validity limits",
                        "required": false,
                        "type": "string",
                        "format": "date"
                    },
                    {
                        "name": "valid_end_date",
                        "in": "query",
                        "description": "Filter on discountcodes which are valid until the specified date(format: yyyy-mm-dd). May also return discountcodes without validity limits",
                        "required": false,
                        "type": "string",
                        "format": "date"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of discountcodes",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Discountcode"
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Discountcodes"
                ],
                "description": "Create a new discountcode",
                "operationId": "postDiscountcode",
                "parameters": [
                    {
                        "$ref": "#/parameters/version"
                    },
                    {
                        "$ref": "#/parameters/format"
                    },
                    {
                        "name": "discountcode",
                        "in": "body",
                        "description": "Discountcode with attributes to set",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Discountcode"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Discountcode details",
                        "schema": {
                            "$ref": "#/definitions/Discountcode"
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "Discountcodes"
                ],
                "description": "Change a specific discountcode",
                "operationId": "patchDiscountcode",
                "parameters": [
                    {
                        "$ref": "#/parameters/version"
                    },
                    {
                        "$ref": "#/parameters/format"
                    },
                    {
                        "name": "discountcode",
                        "in": "body",
                        "description": "Discountcode with attributes to change",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Discountcode"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Discountcode details",
                        "schema": {
                            "$ref": "#/definitions/Discountcode"
                        }
                    }
                }
            }
        },
        "/v{version}/discountcodes/{code}": {
            "get": {
                "tags": [
                    "Discountcodes"
                ],
                "description": "Returns a specific discountcode",
                "operationId": "getDiscountcode",
                "parameters": [
                    {
                        "$ref": "#/parameters/version"
                    },
                    {
                        "$ref": "#/parameters/format"
                    },
                    {
                        "name": "code",
                        "in": "path",
                        "description": "Unique discountcode identifier",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Discountcode details",
                        "schema": {
                            "$ref": "#/definitions/Discountcode"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Discountcodes"
                ],
                "description": "Remove a specific discountcode",
                "operationId": "deleteDiscountcode",
                "parameters": [
                    {
                        "$ref": "#/parameters/version"
                    },
                    {
                        "$ref": "#/parameters/format"
                    },
                    {
                        "name": "code",
                        "in": "path",
                        "description": "Unique discountcode identifier",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Discountcode successfully deleted",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/v{version}/newsletter/subscribers": {
            "get": {
                "tags": [
                    "NewsletterSubscribers"
                ],
                "description": "Returns a listing of newsletter subscribers for the store",
                "operationId": "getNewsletterSubscribers",
                "parameters": [
                    {
                        "$ref": "#/parameters/version"
                    },
                    {
                        "$ref": "#/parameters/language"
                    },
                    {
                        "$ref": "#/parameters/format"
                    },
                    {
                        "$ref": "#/parameters/limit"
                    },
                    {
                        "$ref": "#/parameters/offset"
                    },
                    {
                        "$ref": "#/parameters/activated"
                    },
                    {
                        "name": "created_start_date",
                        "in": "query",
                        "description": "Minimum for created datetime (format: yyyy-mm-dd hh:mm:ss)",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "created_end_date",
                        "in": "query",
                        "description": "Maximum for created datetime (format: yyyy-mm-dd hh:mm:ss)",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "changed_start_date",
                        "in": "query",
                        "description": "Mimimum for changed datetime (format: yyyy-mm-dd hh:mm:ss)",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "changed_end_date",
                        "in": "query",
                        "description": "Maximum for changed datetime (format: yyyy-mm-dd hh:mm:ss)",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of newsletter subscribers",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/NewsletterSubscriber"
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "NewsletterSubscribers"
                ],
                "description": "Create a new newsletter subscriber",
                "operationId": "postNewsletterSubscriber",
                "parameters": [
                    {
                        "$ref": "#/parameters/version"
                    },
                    {
                        "$ref": "#/parameters/language"
                    },
                    {
                        "$ref": "#/parameters/format"
                    },
                    {
                        "$ref": "#/parameters/activate"
                    },
                    {
                        "name": "subscriber",
                        "in": "body",
                        "description": "Newsletter subscriber with attributes to change",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/NewsletterSubscriberPostable"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Newsletter subscriber details",
                        "schema": {
                            "$ref": "#/definitions/NewsletterSubscriber"
                        }
                    }
                }
            }
        },
        "/v{version}/newsletter/subscribers/{email}": {
            "get": {
                "tags": [
                    "NewsletterSubscribers"
                ],
                "description": "Returns a specific newsletter subscriber",
                "operationId": "getNewsletterSubscriber",
                "parameters": [
                    {
                        "$ref": "#/parameters/version"
                    },
                    {
                        "$ref": "#/parameters/language"
                    },
                    {
                        "$ref": "#/parameters/format"
                    },
                    {
                        "name": "email",
                        "in": "path",
                        "description": "Newsletter subscriber email address",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Newsletter subscriber details",
                        "schema": {
                            "$ref": "#/definitions/NewsletterSubscriber"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "NewsletterSubscribers"
                ],
                "description": "Remove a specific newsletter subscriber",
                "operationId": "deleteNewsletterSubscriber",
                "parameters": [
                    {
                        "$ref": "#/parameters/version"
                    },
                    {
                        "$ref": "#/parameters/language"
                    },
                    {
                        "$ref": "#/parameters/format"
                    },
                    {
                        "name": "email",
                        "in": "path",
                        "description": "Newsletter subscriber email address",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Newsletter subscriber succesfully deleted",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "NewsletterSubscribers"
                ],
                "description": "Change a specific newsletter subscribers",
                "operationId": "patchNewsletterSubscriber",
                "parameters": [
                    {
                        "$ref": "#/parameters/version"
                    },
                    {
                        "$ref": "#/parameters/language"
                    },
                    {
                        "$ref": "#/parameters/format"
                    },
                    {
                        "$ref": "#/parameters/activate"
                    },
                    {
                        "name": "email",
                        "in": "path",
                        "description": "Newsletter subscriber email address",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "subscriber",
                        "in": "body",
                        "description": "Newsletter subscriber with attributes to change",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/NewsletterSubscriberPatchable"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Newsletter subscriber details",
                        "schema": {
                            "$ref": "#/definitions/NewsletterSubscriber"
                        }
                    }
                }
            }
        },
        "/v{version}/newsletter/subscribers/count": {
            "get": {
                "tags": [
                    "NewsletterSubscribers"
                ],
                "description": "Returns the number of available newsletter subscribers",
                "operationId": "countNewsletterSubscribers",
                "parameters": [
                    {
                        "$ref": "#/parameters/version"
                    },
                    {
                        "$ref": "#/parameters/language"
                    },
                    {
                        "$ref": "#/parameters/format"
                    },
                    {
                        "$ref": "#/parameters/activated"
                    },
                    {
                        "name": "created_start_date",
                        "in": "query",
                        "description": "Minimum for created datetime (format: yyyy-mm-dd hh:mm:ss)",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "created_end_date",
                        "in": "query",
                        "description": "Maximum for created datetime (format: yyyy-mm-dd hh:mm:ss)",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "changed_start_date",
                        "in": "query",
                        "description": "Mimimum for changed datetime (format: yyyy-mm-dd hh:mm:ss)",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "changed_end_date",
                        "in": "query",
                        "description": "Maximum for changed datetime (format: yyyy-mm-dd hh:mm:ss)",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Number of available newsletter subscribers",
                        "schema": {
                            "$ref": "#/definitions/CountResponse"
                        }
                    }
                }
            }
        },
        "/v{version}/offlinelocations": {
            "get": {
                "tags": [
                    "OfflineLocations"
                ],
                "description": "Returns a listing of offline (POS) locations for the store",
                "operationId": "getOfflineLocations",
                "parameters": [
                    {
                        "$ref": "#/parameters/version"
                    },
                    {
                        "$ref": "#/parameters/format"
                    },
                    {
                        "name": "deleted",
                        "in": "query",
                        "description": "Filter (soft) deleted locations",
                        "required": false,
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of offline (POS) locations",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/OfflineLocation"
                            }
                        }
                    }
                }
            }
        },
        "/v{version}/offlinelocations/{id}": {
            "get": {
                "tags": [
                    "OfflineLocations"
                ],
                "description": "Returns a specific offline (POS) location",
                "operationId": "getOfflineLocation",
                "parameters": [
                    {
                        "$ref": "#/parameters/version"
                    },
                    {
                        "$ref": "#/parameters/format"
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Unique location identifier (UUID string)",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Offline location details",
                        "schema": {
                            "$ref": "#/definitions/OfflineLocation"
                        }
                    }
                }
            }
        },
        "/v{version}/orders/credit": {
            "post": {
                "tags": [
                    "Orders"
                ],
                "description": "Create a credit order for an existing order",
                "operationId": "postCreditOrder",
                "parameters": [
                    {
                        "$ref": "#/parameters/version"
                    },
                    {
                        "$ref": "#/parameters/format"
                    },
                    {
                        "$ref": "#/parameters/language"
                    },
                    {
                        "name": "mutate_stock",
                        "in": "query",
                        "description": "Perform stock mutations, reverting (specified) mutations of the original order",
                        "required": false,
                        "type": "boolean",
                        "default": true
                    },
                    {
                        "name": "creditOrder",
                        "in": "body",
                        "description": "Credit order specification",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CreditOrderPostable"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Order details",
                        "schema": {
                            "$ref": "#/definitions/Order"
                        }
                    }
                }
            }
        },
        "/v{version}/orderstatuses": {
            "get": {
                "tags": [
                    "OrderStatuses"
                ],
                "description": "Returns a listing of all available order statuses.",
                "operationId": "getOrderStatuses",
                "parameters": [
                    {
                        "$ref": "#/parameters/version"
                    },
                    {
                        "$ref": "#/parameters/language"
                    },
                    {
                        "$ref": "#/parameters/format"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Order status list",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/OrderStatus"
                            }
                        }
                    }
                }
            }
        },
        "/v{version}/paytypes": {
            "get": {
                "tags": [
                    "PayTypes"
                ],
                "description": "Returns a listing of all available payment types (methods)",
                "operationId": "getPayTypes",
                "parameters": [
                    {
                        "$ref": "#/parameters/version"
                    },
                    {
                        "$ref": "#/parameters/language"
                    },
                    {
                        "$ref": "#/parameters/format"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Payment type list",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/ProviderPayType"
                            }
                        }
                    }
                }
            }
        },
        "/v{version}/paytypes/store": {
            "get": {
                "tags": [
                    "PayTypes"
                ],
                "description": "Returns a listing of active payment types (methods) for the store",
                "operationId": "getPayTypesPerStore",
                "parameters": [
                    {
                        "$ref": "#/parameters/version"
                    },
                    {
                        "$ref": "#/parameters/language"
                    },
                    {
                        "$ref": "#/parameters/format"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Payment type list",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/StorePayType"
                            }
                        }
                    }
                }
            }
        },
        "/v{version}/shipping/methods": {
            "get": {
                "tags": [
                    "ShippingMethods"
                ],
                "description": "Returns a listing of available shipping methods for the store",
                "operationId": "getShippingMethods",
                "parameters": [
                    {
                        "$ref": "#/parameters/version"
                    },
                    {
                        "$ref": "#/parameters/format"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of shipping methods",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/ShippingMethod"
                            }
                        }
                    }
                }
            }
        },
        "/v{version}/store": {
            "get": {
                "tags": [
                    "Store"
                ],
                "description": "Returns details for the store (identified by token)",
                "operationId": "getStore",
                "parameters": [
                    {
                        "$ref": "#/parameters/version"
                    },
                    {
                        "$ref": "#/parameters/language"
                    },
                    {
                        "$ref": "#/parameters/format"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Store details",
                        "schema": {
                            "$ref": "#/definitions/Store"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "Address": {
            "description": "Generic address",
            "required": [
                "name",
                "zipcode"
            ],
            "properties": {
                "id": {
                    "description": "Address UUID. No other address field is required if an ID is provided.",
                    "type": "string"
                },
                "gender": {
                    "description": "Gender description",
                    "type": "string"
                },
                "name": {
                    "description": "Full name",
                    "type": "string"
                },
                "company": {
                    "description": "Company name",
                    "type": "string"
                },
                "phone": {
                    "description": "Phone number",
                    "type": "string"
                },
                "street": {
                    "description": "Street name",
                    "type": "string"
                },
                "number": {
                    "description": "Housenumber",
                    "type": "string"
                },
                "zipcode": {
                    "type": "string"
                },
                "city": {
                    "type": "string"
                },
                "country": {
                    "description": "(Localized) country name (deprecated)",
                    "type": "string"
                },
                "country_code": {
                    "description": "ISO 3166-1 alpha-2 country code",
                    "type": "string"
                }
            }
        },
        "Article": {
            "required": [
                "categories",
                "name"
            ],
            "example": {
                "name": "Funny cushion",
                "description": "Endless fun",
                "sku": "ART758379-L",
                "badge_text": "van - voor",
                "tax": 21,
                "price": {
                    "default": 12.5,
                    "action": 9.95
                },
                "created_date": "2016-07-04",
                "updated_date": "2016-07-25",
                "stock": 15,
                "delivery_days": 5,
                "meta_title": "Funny shop: Funny Cushion",
                "meta_description": "Awesome description here",
                "can_backorder": false,
                "extra": {
                    "invisible": {
                        "weight": "0.25",
                        "barcode": "8712345678906"
                    },
                    "visible": {
                        "Fart power (Beaufort)": "5"
                    }
                },
                "categories": [
                    {
                        "category_id": 748020,
                        "article_url_id": 245,
                        "is_active": true,
                        "is_main": true
                    }
                ],
                "lists": [
                    {
                        "id": 193177,
                        "name": "Sounds",
                        "description": "Special laugh sounds",
                        "has_images": true,
                        "options": [
                            {
                                "id": 71362,
                                "name": "Jim Carrey",
                                "price": "99.00",
                                "image_ids": [
                                    "7e2009bf-f4a6-4f6d-9874-14ed1341229b"
                                ]
                            },
                            {
                                "id": 71363,
                                "name": "Clown",
                                "price": "5.00"
                            }
                        ]
                    }
                ],
                "variants": [
                    {
                        "id": 1362,
                        "options": {
                            "193177": "Jim Carrey"
                        },
                        "stock": 3
                    }
                ],
                "images": [
                    {
                        "position": 2,
                        "id": "7e2009bf-f4a6-4f6d-9874-14ed1341229b",
                        "urls": {
                            "full": "http://asset.myonlinestore.com/winkel/winkelnaam/images/full/b1787d2f15742a7d9c869f186b948ddbc2faecb87",
                            "article": "http://asset.myonlinestore.com/winkel/winkelnaam/images/article/b1787d2f15742a7d9c869f186b948ddbc2faecb87",
                            "thumb": "http://asset.myonlinestore.com/winkel/winkelnaam/images/thumb/b1787d2f15742a7d9c869f186b948ddbc2faecb87"
                        }
                    }
                ]
            },
            "allOf": [
                {
                    "$ref": "#/definitions/BaseArticle"
                },
                {
                    "properties": {
                        "id": {
                            "description": "Internal article id",
                            "type": "integer"
                        },
                        "created_date": {
                            "description": "Article creation date",
                            "type": "string",
                            "format": "date"
                        },
                        "updated_date": {
                            "description": "Article last updated date",
                            "type": "string",
                            "format": "date"
                        },
                        "can_backorder": {
                            "description": "Available for purchase, if sold out",
                            "type": "boolean"
                        },
                        "categories": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/CategoryArticle"
                            }
                        },
                        "lists": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/ConfiguratorArticleList"
                            }
                        },
                        "images": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/ArticleImage"
                            }
                        },
                        "variants": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/ArticleVariant"
                            }
                        }
                    }
                }
            ]
        },
        "ArticleChangeable": {
            "example": {
                "name": "Funny cushion",
                "description": "Endless fun",
                "sku": "ART758379-L",
                "badge_text": "van - voor",
                "tax": 21,
                "price": {
                    "default": 12.5,
                    "action": 9.95
                },
                "stock": 15,
                "delivery_days": 5,
                "meta_title": "Funny shop: Funny Cushion",
                "meta_description": "Awesome description here",
                "can_backorder": false,
                "extra": {
                    "invisible": {
                        "weight": "0.25",
                        "barcode": "8712345678906"
                    },
                    "visible": {
                        "Fart power (Beaufort)": "5"
                    }
                },
                "categories": [
                    {
                        "category_id": 748020,
                        "is_main": true,
                        "is_active": true
                    }
                ],
                "lists": [
                    {
                        "id": 193177
                    },
                    {
                        "id": 293822,
                        "has_images": true,
                        "options": [
                            {
                                "id": 1690460,
                                "image_ids": [
                                    "8fc37dbc-3704-4807-bb75-3e1917b5326d"
                                ]
                            },
                            {
                                "id": 1991624,
                                "image_ids": [
                                    "8fc37dbc-3704-4807-bb75-3e1917b5326d",
                                    "7e2009bf-f4a6-4f6d-9874-14ed1341229b"
                                ]
                            }
                        ]

                    }
                ],
                "variants": [
                    {
                        "id": 1362,
                        "stock": 27
                    }
                ],
                "images": [
                    {
                        "id": "7e2009bf-f4a6-4f6d-9874-14ed1341229b",
                        "url": "https://myonlineimage.com/my-image-1.jpg",
                        "position": 1
                    },
                    {
                        "id": "8fc37dbc-3704-4807-bb75-3e1917b5326d",
                        "url": "https://myonlineimage.com/my-image-2.jpg",
                        "position": 2
                    }
                ]
            },
            "allOf": [
                {
                    "$ref": "#/definitions/ArticlePostable"
                },
                {
                    "properties": {
                        "variants": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/ArticleVariant"
                            }
                        }
                    }
                }
            ]
        },
        "ArticlePostable": {
            "example": {
                "name": "Funny cushion",
                "description": "Endless fun",
                "sku": "ART758379-L",
                "badge_text": "van - voor",
                "tax": 21,
                "price": {
                    "default": 12.5,
                    "action": 9.95
                },
                "stock": 15,
                "delivery_days": 5,
                "meta_title": "Funny shop: Funny Cushion",
                "meta_description": "Awesome description here",
                "can_backorder": false,
                "extra": {
                    "invisible": {
                        "weight": "0.25",
                        "barcode": "8712345678906"
                    },
                    "visible": {
                        "Fart power (Beaufort)": "5"
                    }
                },
                "categories": [
                    {
                        "category_id": 748020,
                        "is_main": true,
                        "is_active": true
                    }
                ],
                "lists": [
                    {
                        "id": 193177
                    },
                    {
                        "id": 293822,
                        "has_images": true,
                        "options": [
                            {
                                "id": 1690460,
                                "image_ids": [
                                    "8fc37dbc-3704-4807-bb75-3e1917b5326d"
                                ]
                            },
                            {
                                "id": 1991624,
                                "image_ids": [
                                    "8fc37dbc-3704-4807-bb75-3e1917b5326d",
                                    "7e2009bf-f4a6-4f6d-9874-14ed1341229b"
                                ]
                            }
                        ]

                    }
                ],
                "images": [
                    {
                        "id": "7e2009bf-f4a6-4f6d-9874-14ed1341229b",
                        "url": "https://myonlineimage.com/my-image-1.jpg",
                        "position": 1
                    },
                    {
                        "id": "8fc37dbc-3704-4807-bb75-3e1917b5326d",
                        "url": "https://myonlineimage.com/my-image-2.jpg",
                        "position": 2
                    }
                ]
            },
            "allOf": [
                {
                    "$ref": "#/definitions/BaseArticle"
                },
                {
                    "properties": {
                        "categories": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/CategoryArticle"
                            }
                        },
                        "lists": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/ConfiguratorArticleListPostable"
                            }
                        },
                        "images": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/ArticleImagePostable"
                            }
                        }
                    }
                }
            ]
        },
        "BaseArticle": {
            "properties": {
                "name": {
                    "description": "Article name",
                    "type": "string"
                },
                "description": {
                    "description": "Article description",
                    "type": "string"
                },
                "sku": {
                    "description": "Article stock keeping unit",
                    "type": "string"
                },
                "badge_text": {
                    "description": "Additional badge text",
                    "type": "string"
                },
                "tax": {
                    "description": "Vat percentage",
                    "type": "string"
                },
                "price": {
                    "$ref": "#/definitions/ArticlePrice"
                },
                "stock": {
                    "description": "Articles in stock (specify null for unlimited stock)",
                    "type": "integer"
                },
                "delivery_days": {
                    "description": "Delivery time (in days), if sold out",
                    "type": "integer"
                },
                "meta_title": {
                    "description": "Metadata title",
                    "type": "string"
                },
                "meta_description": {
                    "description": "Metadata description",
                    "type": "string"
                },
                "extra": {
                    "$ref": "#/definitions/ArticleExtraFieldSet"
                }
            }
        },
        "ArticleExtraFieldSet": {
            "properties": {
                "visible": {},
                "invisible": {}
            }
        },
        "ArticleImage": {
            "properties": {
                "position": {
                    "type": "string"
                },
                "id": {
                    "type": "string",
                    "format": "uuid"
                },
                "url": {
                    "description": "deprecated",
                    "type": "string"
                },
                "urls": {
                    "description": "image url's for all formats",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/ArticleImageUrl"
                    }
                }
            }
        },
        "ArticleImageUrl": {
            "type": "object",
            "additionalProperties": {
                "type": "string"
            }
        },
        "ArticleImagePostable": {
            "properties": {
                "id": {
                    "type": "string",
                    "format": "uuid"
                },
                "position": {
                    "type": "integer"
                },
                "url": {
                    "type": "string"
                }
            }
        },
        "ArticleList": {
            "properties": {
                "id": {
                    "description": "Internal article list id",
                    "type": "integer"
                },
                "name": {
                    "type": "string"
                },
                "description": {
                    "type": "string"
                },
                "options": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/ArticleListOption"
                    }
                }
            },
            "example": {
                "name": "Sounds",
                "description": "Special laugh sounds",
                "options": [
                    {
                        "name": "Jim Carrey",
                        "price": "99.00"
                    },
                    {
                        "name": "Clown",
                        "price": "5.00"
                    }
                ]
            }
        },
        "ArticleListOption": {
            "properties": {
                "id": {
                    "type": "integer"
                },
                "name": {
                    "type": "string"
                },
                "price": {
                    "type": "string"
                }
            }
        },
        "ConfiguratorArticleList": {
            "example": {
                "name": "Sounds",
                "description": "Special laugh sounds",
                "has_images": true,
                "options": [
                    {
                        "name": "Jim Carrey",
                        "price": "99.00",
                        "image_ids": [
                            "1d29d35a-f8ef-404f-923a-cd08d8578909"
                        ]
                    },
                    {
                        "name": "Clown",
                        "price": "5.00"
                    }
                ]
            },
            "properties": {
                "has_images": {
                    "type": "boolean",
                    "description": "Whether the ConfiguratorArticleList has images enabled"
                },
                "options": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/ConfiguratorArticleListOption"
                    }
                }
            },
            "allOf": [
                {
                    "$ref": "#/definitions/ArticleList"
                }
            ]
        },
        "ConfiguratorArticleListPostable": {
            "required": [
                "id"
            ],
            "properties": {
                "id": {
                    "type": "integer",
                    "description": "ArticleList id"
                },
                "has_images": {
                    "type": "boolean",
                    "description": "Whether the ConfiguratorArticleList has images enabled. This may be true for only 1 entry per article"
                },
                "options": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/ConfiguratorArticleListOptionPostable"
                    }
                }
            }
        },
        "ConfiguratorArticleListOption": {
            "properties": {
                "image_ids": {
                    "type": "array",
                    "items": {
                        "type": "string",
                        "format": "uuid",
                        "description": "ArticleImage"
                    }
                }
            },
            "allOf": [
                {
                    "$ref": "#/definitions/ArticleListOption"
                }
            ]
        },
        "ConfiguratorArticleListOptionPostable": {
            "required": [
                "id",
                "image_ids"
            ],
            "properties": {
                "id": {
                    "type": "integer",
                    "description": "ArticleListOption id"
                },
                "image_ids": {
                    "type": "array",
                    "items": {
                        "type": "string",
                        "format": "uuid",
                        "description": "ArticleImage"
                    }
                }
            }
        },
        "ArticlePrice": {
            "properties": {
                "default": {
                    "description": "Default price",
                    "type": "string"
                },
                "action": {
                    "description": "Action price",
                    "type": "string"
                }
            }
        },
        "ArticleVariant": {
            "properties": {
                "id": {
                    "description": "Internal article variant id",
                    "type": "integer"
                },
                "options": {
                    "description": "Selected options",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/ArticleVariantOption"
                    }
                },
                "stock": {
                    "type": "integer"
                },
                "can_backorder": {
                    "type": "boolean"
                }
            }
        },
        "ArticleVariantOption": {
            "properties": {
                "list_id": {
                    "type": "integer"
                },
                "option_id": {
                    "type": "integer"
                },
                "name": {
                    "type": "string"
                }
            }
        },
        "Category": {
            "properties": {
                "id": {
                    "description": "Category identifier",
                    "type": "integer"
                },
                "parent_category_id": {
                    "description": "ID of the parent category",
                    "type": "integer"
                },
                "hidden": {
                    "description": "Is the page hidden in the store",
                    "type": "boolean"
                },
                "title": {
                    "description": "Category page title",
                    "type": "string"
                },
                "content": {
                    "description": "Category page content",
                    "type": "string"
                },
                "meta_title": {
                    "description": "Metadata page title",
                    "type": "string"
                },
                "meta_description": {
                    "description": "Metadata page description",
                    "type": "string"
                },
                "article_order": {
                    "description": "Order in which products are shown on this page:\n1: price, ascending\n2: name, ascending\n3: last edited date, descending\n4: created date, descending\n5: manually defined",
                    "type": "integer"
                },
                "leafs": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Category"
                    }
                },
                "sorting": {
                    "description": "Category sorting details",
                    "type": "object",
                    "$ref": "#/definitions/CategorySorting"
                }
            },
            "example": {
                "id": 78909,
                "parent_category_id": 8569,
                "hidden": false,
                "title": "The <b>best</b> balloon animals for your party",
                "content": "<b>Balloon animals</b> are great, <i>don't you think?</i>",
                "meta_title": "Balloon animals",
                "meta_description": "The best balloon animals for your party",
                "article_order": 5,
                "leafs": [
                    {
                        "id": 78910,
                        "parent_id": 78909,
                        "hidden": true,
                        "title": "New collection"
                    }
                ],
                "sorting": {
                    "first": false,
                    "last": false,
                    "previous": 78908,
                    "next": 78910
                }
            }
        },
        "CategoryPostable": {
            "required": [
                "title"
            ],
            "example": {
                "parent_category_id": 8569,
                "hidden": false,
                "title": "The <b>best</b> balloon animals for your party",
                "content": "<b>Balloon animals</b> are great, <i>don't you think?</i>",
                "meta_title": "Balloon animals",
                "meta_description": "The best balloon animals for your party",
                "article_order": 5,
                "sorting": {
                    "before": 78908
                }
            },
            "allOf": [
                {
                    "$ref": "#/definitions/CategoryPatchable"
                }
            ]
        },
        "CategoryPatchable": {
            "properties": {
                "parent_category_id": {
                    "description": "ID of the parent category",
                    "type": "integer"
                },
                "hidden": {
                    "description": "Is the page hidden in the store",
                    "type": "boolean"
                },
                "title": {
                    "description": "Category page title",
                    "type": "string"
                },
                "content": {
                    "description": "Category page content",
                    "type": "string"
                },
                "meta_title": {
                    "description": "Metadata page title",
                    "type": "string"
                },
                "meta_description": {
                    "description": "Metadata page description",
                    "type": "string"
                },
                "article_order": {
                    "description": "Order in which products are shown on this page:\n1: price, ascending\n2: name, ascending\n3: last edited date, descending\n4: created date, descending\n5: manually defined",
                    "type": "integer"
                },
                "sorting": {
                    "description": "Category sorting details",
                    "type": "object",
                    "$ref": "#/definitions/CategorySortingPostable"
                }
            },
            "example": {
                "parent_category_id": 8569,
                "hidden": false,
                "title": "The <b>best</b> balloon animals for your party",
                "content": "<b>Balloon animals</b> are great, <i>don't you think?</i>",
                "meta_title": "Balloon animals",
                "meta_description": "The best balloon animals for your party",
                "article_order": 5,
                "sorting": {
                    "before": 78908
                }
            }
        },
        "CategoryArticle": {
            "required": [
                "category_id"
            ],
            "properties": {
                "category_id": {
                    "description": "Internal category id",
                    "type": "integer"
                },
                "article_url_id": {
                    "description": "Article page URL Id",
                    "type": "integer"
                },
                "is_active": {
                    "description": "Whether the article is visible in the store on this page",
                    "type": "boolean"
                },
                "is_main": {
                    "description": "Whether this is the primary category linked to the article",
                    "type": "boolean"
                },
                "position": {
                    "description": "Relative position of the article on the page",
                    "type": "integer"
                }
            }
        },
        "CategorySorting": {
            "description": "Category sorting details",
            "properties": {
                "first": {
                    "description": "Is this category the first of it's branch?",
                    "type": "boolean"
                },
                "last": {
                    "description": "Is this category the last of it's branch?",
                    "type": "boolean"
                },
                "previous": {
                    "description": "ID of the previous category, if any",
                    "type": "integer"
                },
                "next": {
                    "description": "ID of the next category, if any",
                    "type": "integer"
                }
            }
        },
        "CategorySortingPostable": {
            "description": "Category sorting details",
            "properties": {
                "first": {
                    "description": "True if this category should be the first of it's branch",
                    "type": "boolean"
                },
                "last": {
                    "description": "True if this category should be the last of it's branch (default behavior)",
                    "type": "boolean"
                },
                "before": {
                    "description": "ID of the category this category should be placed after",
                    "type": "integer"
                },
                "after": {
                    "description": "ID of the category this category should be placed before",
                    "type": "integer"
                }
            }
        },
        "CountResponse": {
            "description": "Response of a count operation",
            "properties": {
                "count": {
                    "description": "The number of matching items",
                    "type": "integer"
                }
            }
        },
        "InvoiceAddress": {
            "description": "Invoice address",
            "allOf": [
                {
                    "$ref": "#/definitions/Address"
                },
                {
                    "properties": {
                        "taxnumber": {
                            "description": "Vat reference number",
                            "type": "string"
                        },
                        "bankaccount": {
                            "description": "Bankaccount number",
                            "type": "string"
                        }
                    }
                }
            ]
        },
        "Order": {
            "required": [
                "number",
                "date",
                "time",
                "status",
                "payment",
                "debtor"
            ],
            "properties": {
                "number": {
                    "description": "Ordernumber",
                    "type": "integer"
                },
                "date": {
                    "description": "Order date",
                    "type": "string",
                    "format": "date"
                },
                "time": {
                    "description": "Order time",
                    "type": "string"
                },
                "status": {
                    "description": "Order status",
                    "type": "integer"
                },
                "status_changed_date": {
                    "description": "Date of last status change",
                    "type": "string",
                    "format": "date"
                },
                "status_changed_time": {
                    "description": "Time of last status change",
                    "type": "string"
                },
                "weight": {
                    "description": "Total order weight",
                    "type": "string"
                },
                "archived": {
                    "description": "Archived status",
                    "type": "boolean"
                },
                "finished": {
                    "description": "Finished status (deprecated: always true)",
                    "type": "boolean"
                },
[...]
